# Gazetteer Maker

## Introduction

    The main goal of this code is to transform tables into tables of gazetteers for each ontology aligned with PropaPhen. Those gazetteers are going to be used in the "Detection" module to find the equivalent Named Entities.

In [1]:
%load_ext autoreload
%autoreload 2

## Libraries

### Standard

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

## Globals

In [3]:
path_to_atoms = "data/tables/MRAUI.processed.csv"
path_to_concepts = "data/tables/MRCONSO.processed.csv"
path_to_semantics = "data/tables/SRDEF.processed.csv"
path_to_world = "data/tables/worldkg_nodes.csv"

## Tables to Gazetteers

### UMLS

In [ ]:
df = pd.DataFrame(columns=['ID', 'Name'])

In [ ]:
concept_df = pd.read_csv(path_to_concepts)

In [ ]:
df = pd.concat([df, 
           concept_df[["CUI:ID","name"]].rename(columns={"CUI:ID": "ID", 
                                                         "name": "Name"})], axis=0,ignore_index=True)

In [ ]:
atom_df = pd.read_csv(path_to_atoms)

In [ ]:
df = pd.concat([df, 
           atom_df[["AUI:ID","name"]].rename(columns={"AUI:ID": "ID", 
                                                         "name": "Name"})], axis=0,ignore_index=True)

In [ ]:
stype_df = pd.read_csv(path_to_semantics)

In [ ]:
df = pd.concat([df, 
           stype_df[["STY:ID","name"]].rename(columns={"STY:ID": "ID", 
                                                         "name": "Name"})], axis=0,ignore_index=True)

In [ ]:
df.to_csv('data/gazetteers/kbgazetteer.csv')

### WorldKG

In [4]:
world_df = pd.read_csv(path_to_world)

/tmp/ipykernel_132371/181596066.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294) have mixed types. Specify dtype option on import or set low_memory=False.
  world_df = pd.read_csv(path_to_world)

In [5]:
world_kg_id = "id:ID"
list_of_names = ["Name","wkgs_oldName","wkgs_officialNameEn","wkgs_altName","wkgs_nameEn"]

# To get all diffent names from other languages:
#for k in world_df.columns:
#    if "Name" in k or "name" in k:
#        list_of_names.append(k)

In [14]:
world_df_filtered

,id:ID,Name,wkgs_oldName,wkgs_officialNameEn,wkgs_altName,wkgs_nameEn
0,wkg:10,"""Mamassita""",NaN,NaN,"""Mamacita""",NaN
1,wkg:1000709658,"""Boulzazen""",NaN,NaN,NaN,"""Boulzazen"""
2,wkg:1000709660,"""Tizi El Oued""",NaN,NaN,NaN,NaN
3,wkg:1001145519,"""Dar Bentata""",NaN,NaN,NaN,NaN
4,wkg:1002295015,"""Mshiri""",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1294504,wkg:985505906,"""Mehu√≠n""",NaN,NaN,NaN,NaN
1294505,wkg:992034877,"""San Juana""",NaN,NaN,NaN,NaN
1294506,wkg:995446460,"""Cucutilla""",NaN,NaN,NaN,NaN
1294507,wkg:999504607,"""Prusia""",NaN,NaN,NaN,NaN
1294508,wkg:999508403,"""Quenuir""",NaN,NaN,NaN,NaN

In [6]:
world_df_filtered = world_df[[world_kg_id]+list_of_names]

In [9]:
world_df_filtered.shape

(1294509, 6)

In [10]:
world_df_final = pd.DataFrame(columns=['ID', 'Name'])
for _, row in tqdm(world_df_filtered.iterrows()):
    for nametype in list_of_names:
        if not pd.isna(row[nametype]):
            rowdataframe = pd.DataFrame({'ID': [row["id:ID"]],
                   'Name': [row[nametype]]})
            world_df_final = pd.concat([world_df_final, 
               rowdataframe], axis=0,ignore_index=True)

1294509it [11:34:53, 31.05it/s]

In [11]:
world_df_final.to_csv('data/gazetteers/world_gazetteer_en.csv')

In [15]:
world_df_final[world_df_final['Name']=='"Nga"']

                    ID   Name
26612   wkg:2461016801  "Nga"
45490   wkg:3958310681  "Nga"
129168  wkg:7721834194  "Nga"
169736  wkg:1308476639  "Nga"